body{
    margin: 0;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 20px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px
}
.level-font{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
#border-line{
    border-left: 6px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 10%;
    padding-left: 2%;
    border-radius: 10px;
}
.mission{
    text-align: center;
}
.illustrator1{
    background-color: rgb(108, 108, 189);
}
.illustrator2{
    background-color: rgb(207, 106, 126);
}
.illustrator3{
    background-color: rgb(192, 152, 78);
}
.footer-back{
    background-color: black;
    color: white;
    text-align: center;
}
.color{
    color: orange;
}